html, body {
    margin: 0;
    height: 100%;
}
#login-container {
    background-color: #F6F5F6 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    max-width: 300px;
}
body{
    padding: 10%;
    background: #8C7E94 no-repeat;
}
.btn-primary{
    background: #6A5676;
    border-color: rgba(255,255,255,0.5);
}
.btn-primary:hover{
    background: #493355;
    border-color: rgba(255,255,255,0.5);
}
.btn-primary:focus{
    background: #493355;
    border-color: rgba(0,0,0,0.2);
}