html, body {
    margin: 0;
    height: 100%;
}
body{
    background: #8C7E94 no-repeat;
}
.container{
    margin-top: 100px;
    background-color: #F6F5F6 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.glyphicon-remove-circle{
    color:	rgba(255,0,0,0.4);
}
.glyphicon-remove-circle:hover{
    color: 	rgb(255,0,0);
}
.glyphicon-pencil{
    color: rgba(0,0,255,0.2);
}
.glyphicon-pencil:hover{
    color: rgba(0,0,255,0.7);
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #493355;
}
#pagination{
    margin-right: 50px;
}
.btn-info{
    margin: 20px 0 20px 50px;
    background: #6A5676;
    border-color: rgba(255,255,255,0.5);
}
.btn-info:hover{
    background: #493355;
    border-color: rgba(255,255,255,0.5);
}
.btn-info:focus{
    background: #493355;
    border-color: rgba(0,0,0,0.2);
}
tr{
    cursor:pointer;
}
textarea {
    max-width: 838px;
}

.cotrol-class{
    width: 37px;
}